.Rproj.user
.Rhistory
.RData
.Ruserdata
Parameters/chl_a/chl-a testing\.R
DO_abs_min_example.csv
ATTAINS/Rollup/Basin_categories/ALL BASINS_BU_counts\.csv
ATTAINS/Rollup/Basin_categories/ALL BASINS_BU_rollup\.csv
ATTAINS/Rollup/Basin_categories/ALL BASINS_BU_summary\.csv
ATTAINS/Rollup/Basin_categories/ALL BASINS_categories\.csv
ATTAINS/Rollup/Basin_categories/ALL BASINS_delistings\.csv
ATTAINS/Rollup/Basin_categories/Columbia River_BU_counts\.csv
ATTAINS/Rollup/Basin_categories/Columbia River_categories\.csv
ATTAINS/Rollup/Basin_categories/Columbia River_delistings\.csv
ATTAINS/Rollup/Basin_categories/Deschutes_BU_counts\.csv
ATTAINS/Rollup/Basin_categories/Deschutes_categories\.csv
ATTAINS/Rollup/Basin_categories/Deschutes_delistings\.csv
ATTAINS/Rollup/Basin_categories/Goose & Summer Lakes_BU_counts\.csv
ATTAINS/Rollup/Basin_categories/Goose & Summer Lakes_categories\.csv
ATTAINS/Rollup/Basin_categories/Goose & Summer Lakes_delistings\.csv
ATTAINS/Rollup/Basin_categories/Grande Ronde_BU_counts\.csv
ATTAINS/Rollup/Basin_categories/Grande Ronde_categories\.csv
ATTAINS/Rollup/Basin_categories/Grande Ronde_delistings\.csv
ATTAINS/Rollup/Basin_categories/Hood_BU_counts\.csv
ATTAINS/Rollup/Basin_categories/Hood_categories\.csv
ATTAINS/Rollup/Basin_categories/Hood_delistings\.csv
ATTAINS/Rollup/Basin_categories/John Day_BU_counts\.csv
ATTAINS/Rollup/Basin_categories/John Day_categories\.csv
ATTAINS/Rollup/Basin_categories/John Day_delistings\.csv
ATTAINS/Rollup/Basin_categories/Klamath_BU_counts\.csv
ATTAINS/Rollup/Basin_categories/Klamath_categories\.csv
ATTAINS/Rollup/Basin_categories/Klamath_delistings\.csv
ATTAINS/Rollup/Basin_categories/Malheur Lake_BU_counts\.csv
ATTAINS/Rollup/Basin_categories/Malheur Lake_categories\.csv
ATTAINS/Rollup/Basin_categories/Malheur Lake_delistings\.csv
ATTAINS/Rollup/Basin_categories/Malheur_BU_counts\.csv
ATTAINS/Rollup/Basin_categories/Malheur_categories\.csv
ATTAINS/Rollup/Basin_categories/Malheur_delistings\.csv
ATTAINS/Rollup/Basin_categories/Mid Coast_BU_counts\.csv
ATTAINS/Rollup/Basin_categories/Mid Coast_categories\.csv
ATTAINS/Rollup/Basin_categories/Mid Coast_delistings\.csv
ATTAINS/Rollup/Basin_categories/North Coast_BU_counts\.csv
ATTAINS/Rollup/Basin_categories/North Coast_categories\.csv
ATTAINS/Rollup/Basin_categories/North Coast_delistings\.csv
ATTAINS/Rollup/Basin_categories/Owyhee_BU_counts\.csv
ATTAINS/Rollup/Basin_categories/Owyhee_categories\.csv
ATTAINS/Rollup/Basin_categories/Owyhee_delistings\.csv
ATTAINS/Rollup/Basin_categories/Powder_BU_counts\.csv
ATTAINS/Rollup/Basin_categories/Powder_categories\.csv
ATTAINS/Rollup/Basin_categories/Powder_delistings\.csv
ATTAINS/Rollup/Basin_categories/Rogue_BU_counts\.csv
ATTAINS/Rollup/Basin_categories/Rogue_categories\.csv
ATTAINS/Rollup/Basin_categories/Rogue_delistings\.csv
ATTAINS/Rollup/Basin_categories/Sandy_BU_counts\.csv
ATTAINS/Rollup/Basin_categories/Sandy_categories\.csv
ATTAINS/Rollup/Basin_categories/Sandy_delistings\.csv
ATTAINS/Rollup/Basin_categories/South Coast_BU_counts\.csv
ATTAINS/Rollup/Basin_categories/South Coast_categories\.csv
ATTAINS/Rollup/Basin_categories/South Coast_delistings\.csv
ATTAINS/Rollup/Basin_categories/Umatilla_BU_counts\.csv
ATTAINS/Rollup/Basin_categories/Umatilla_categories\.csv
ATTAINS/Rollup/Basin_categories/Umatilla_delistings\.csv
ATTAINS/Rollup/Basin_categories/Umpqua_BU_counts\.csv
ATTAINS/Rollup/Basin_categories/Umpqua_categories\.csv
ATTAINS/Rollup/Basin_categories/Umpqua_delistings\.csv
ATTAINS/Rollup/Basin_categories/Willamette_BU_counts\.csv
ATTAINS/Rollup/Basin_categories/Willamette_categories\.csv
ATTAINS/Rollup/Basin_categories/Willamette_delistings\.csv
ATTAINS/Rollup/Basin_categories/ALL BASINS_categories\.xlsx
ATTAINS/Rollup/Basin_categories/Columbia River_categories\.xlsx
ATTAINS/Rollup/Basin_categories/Deschutes_categories\.xlsx
ATTAINS/Rollup/Basin_categories/Goose & Summer Lakes_categories\.xlsx
ATTAINS/Rollup/Basin_categories/Grande Ronde_categories\.xlsx
ATTAINS/Rollup/Basin_categories/Hood_categories\.xlsx
ATTAINS/Rollup/Basin_categories/John Day_categories\.xlsx
ATTAINS/Rollup/Basin_categories/Klamath_categories\.xlsx
ATTAINS/Rollup/Basin_categories/Malheur Lake_categories\.xlsx
ATTAINS/Rollup/Basin_categories/Malheur_categories\.xlsx
ATTAINS/Rollup/Basin_categories/Mid Coast_categories\.xlsx
ATTAINS/Rollup/Basin_categories/North Coast_categories\.xlsx
ATTAINS/Rollup/Basin_categories/Owyhee_categories\.xlsx
ATTAINS/Rollup/Basin_categories/Powder_categories\.xlsx
ATTAINS/Rollup/Basin_categories/Rogue_categories\.xlsx
ATTAINS/Rollup/Basin_categories/Sandy_categories\.xlsx
ATTAINS/Rollup/Basin_categories/schema\.ini
ATTAINS/Rollup/Basin_categories/South Coast_categories\.xlsx
ATTAINS/Rollup/Basin_categories/Umatilla_categories\.xlsx
ATTAINS/Rollup/Basin_categories/Umpqua_categories\.xlsx
ATTAINS/Rollup/Basin_categories/Willamette_categories\.xlsx
Other tools/Standard_layer_display/standards_ben_use_all\.Rdata
Other tools/Standard_layer_display/standards_layer_for_display\.csv
Other tools/Standard_layer_display/standards\.Rdata
Copper_listings.csv
Copper_listings_AL.csv
Copper_listings_HH.csv
DO_results_104973.Rdata

Ben_use_impairments.png

BU Impairements.png

Rplot.png

Rplot01.png

Rplot02.png

Rplot03.png

Rplot04.png

Rplot05.png

ATTAINS/Rollup/Basin_categories/ALL BASINS_Impaired_1orMoreUses.xlsx

ATTAINS/Rollup/Basin_categories/shellfish_categories.xlsx

Other tools/statistics generator/AU layer.xlsx

Other tools/statistics generator/AU layer.xls

Other tools/statistics generator/Ben_use_stats-of assessed AUs.csv

Other tools/statistics generator/delist_statistics.csv

Other tools/statistics generator/stream_status_stats - of assessed AUs.csv

Parameters/DO/DO_Spawn_instant_Duplicated.csv

Parameters/DO/DO_YearRound_instant_Duplicated.csv
