DO_Continuous_Spawn_IR_data_ALLDATA.csv
DO_Continuous_Spawn_IR_data_Deschutes.csv
DO_Continuous_Spawn_IR_data_Klamath.csv
DO_Continuous_Spawn_IR_data_Mid Coast.csv
DO_Continuous_Spawn_IR_data_North Coast.csv
DO_Continuous_Spawn_IR_data_Owyhee.csv
DO_Continuous_Spawn_IR_data_Rogue.csv
DO_Continuous_Spawn_IR_data_Umpqua.csv
DO_Continuous_Spawn_IR_data_Willamette.csv
DO_Instant_Spawn_IR_data_ALLDATA.csv
DO_Instant_Spawn_IR_data_Columbia River.csv
DO_Instant_Spawn_IR_data_Deschutes.csv
DO_Instant_Spawn_IR_data_Goose & Summer Lakes.csv
DO_Instant_Spawn_IR_data_Grande Ronde.csv
DO_Instant_Spawn_IR_data_Hood.csv
DO_Instant_Spawn_IR_data_John Day.csv
DO_Instant_Spawn_IR_data_Klamath.csv
DO_Instant_Spawn_IR_data_Malheur Lake.csv
DO_Instant_Spawn_IR_data_Malheur.csv
DO_Instant_Spawn_IR_data_Mid Coast.csv
DO_Instant_Spawn_IR_data_North Coast.csv
DO_Instant_Spawn_IR_data_Owyhee.csv
DO_Instant_Spawn_IR_data_Powder.csv
DO_Instant_Spawn_IR_data_Rogue.csv
DO_Instant_Spawn_IR_data_Sandy.csv
DO_Instant_Spawn_IR_data_South Coast.csv
DO_Instant_Spawn_IR_data_Umatilla.csv
DO_Instant_Spawn_IR_data_Umpqua.csv
DO_Instant_Spawn_IR_data_Willamette.csv
DO_Spawning_continuous_IR_categories_ALLDATA.csv
DO_Spawning_continuous_IR_categories_Deschutes.csv
DO_Spawning_continuous_IR_categories_Klamath.csv
DO_Spawning_continuous_IR_categories_Mid Coast.csv
DO_Spawning_continuous_IR_categories_North Coast.csv
DO_Spawning_continuous_IR_categories_Owyhee.csv
DO_Spawning_continuous_IR_categories_Rogue.csv
DO_Spawning_continuous_IR_categories_Umpqua.csv
DO_Spawning_continuous_IR_categories_Willamette.csv
DO_Spawning_instantaneous_IR_categories_ALLDATA.csv
DO_Spawning_instantaneous_IR_categories_Columbia River.csv
DO_Spawning_instantaneous_IR_categories_Deschutes.csv
DO_Spawning_instantaneous_IR_categories_Goose & Summer Lakes.csv
DO_Spawning_instantaneous_IR_categories_Grande Ronde.csv
DO_Spawning_instantaneous_IR_categories_Hood.csv
DO_Spawning_instantaneous_IR_categories_John Day.csv
DO_Spawning_instantaneous_IR_categories_Klamath.csv
DO_Spawning_instantaneous_IR_categories_Malheur Lake.csv
DO_Spawning_instantaneous_IR_categories_Malheur.csv
DO_Spawning_instantaneous_IR_categories_Mid Coast.csv
DO_Spawning_instantaneous_IR_categories_North Coast.csv
DO_Spawning_instantaneous_IR_categories_Owyhee.csv
DO_Spawning_instantaneous_IR_categories_Powder.csv
DO_Spawning_instantaneous_IR_categories_Rogue.csv
DO_Spawning_instantaneous_IR_categories_Sandy.csv
DO_Spawning_instantaneous_IR_categories_South Coast.csv
DO_Spawning_instantaneous_IR_categories_Umatilla.csv
DO_Spawning_instantaneous_IR_categories_Umpqua.csv
DO_Spawning_instantaneous_IR_categories_Willamette.csv
DO_Instant_Spawn_IR_data_ALLDATA-new (2).csv
