pH_IR_data_Grande Ronde.csv
pH_IR_data_Hood.csv
pH_IR_data_John Day.csv
pH_IR_data_Klamath.csv
pH_IR_data_Malheur Lake.csv
pH_IR_data_Malheur.csv
pH_IR_data_Mid Coast.csv
pH_IR_data_NA.csv
pH_IR_data_North Coast.csv
pH_IR_data_Owyhee.csv
pH_IR_data_Powder.csv
pH_IR_data_Rogue.csv
pH_IR_data_Sandy.csv
pH_IR_data_South Coast.csv
pH_IR_data_Umatilla.csv
pH_IR_data_Umpqua.csv
pH_IR_data_Willamette.csv
pH_IR_data_Deschutes.csv
pH_IR_data_Goose & Summer Lakes.csv
